.category-title {
    margin-top: 100px;
    margin-left: 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 160%;
    /* identical to box height, or 67px */
    
    display: flex;
    align-items: center;
    
    /* --c-text */
    
    color: #1D1F22;
}