


.product-in {
    width: 400px;
    height: 420px;
}

.product-in:hover {
    box-shadow: 0 4px 8px 4px rgba(0.2, 0.2, 0.2, 0.2);
}
 
.product-out {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    width: 400px;
    height: 400px;
    filter: opacity(0.6);

}


.product-in-stock{
    display: none;
}

.product-out-of-stock{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 150px;
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 160%;
color: #8D8F9A;
}
 
 
.product-image {
    width: 354px;
    height: 330px;
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
    margin-left: 20px;
}

.price {
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
margin-left: 20px;

    
}

.direct-buy{
    position: relative;
    bottom:100px;
    left: 300px;
    cursor: pointer; 
}

.direct-buy{
    display: none;
}

.direct-buy:hover{
    display: inline;
}

.product-in:hover .direct-buy {
    display: inline;}

.navlink-no-decoration{
    text-decoration: none;
}